@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #111;
    color: #fff;
    line-height: 1.7;
    padding-bottom: 50px;
}

/* Header */
header {
    background: #c00000;
    text-align: center;
    padding: 25px 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
}

header h1 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo {
    width: 70px;
}

/* Menu */
#menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background: #000;
    flex-wrap: wrap;
}

#menu a {
    text-decoration: none;
    color: #fff;
    background: #c00000;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

#menu a:hover {
    background: #ff1f1f;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(255,0,0,0.5);
}

.elenco, .comissao {
        padding: 30px;
        text-align: center;
    }

    .jogadores {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .card {
        background: #000;
        border: 2px solid #c00000;
        padding: 10px;
        border-radius: 10px;
        width: 180px;
        text-align: center;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    }

    .card img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 8px;
    }

    .card p {
        margin-top: 8px;
        font-weight: 600;
    }